#startmodel {
  margin-top:15px;
}

.heading {
  width:100%;
  margin-top:0px;
  font-size: 40px;
}

#hiii {
  width:100%;
  margin-top:0px;
  background-color:rgba(0, 0, 0, 0.313);
  padding-top: 20px;
  padding-bottom:20px;
  color:aliceblue;
}

#input {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size:larger;
  border:none;
  border-bottom: 1px solid black;
}

canvas {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.271);
  border-radius: 20px;
  margin-top:50px;
}